body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    text-align: left;
}


p {
    color: white;

}

.info-text{
    color: white;
    font-weight: bold;
    font-size: larger;
}

#footer {
    background-color: #1d4f9a;
    text-align: right;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    ;
}

#footer-container {
    width: 20%;
    height: 80%;
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;

}
#footer-container2 {
    width: 20%;
    height: 80%;
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;

}