#company-header{
    display:flex;
    border-style:none;
    background-color: #1d4f9a;
    width:100%;
    justify-content: space-between;
    margin:0;
    flex-wrap:wrap;

}
#job-seeker-header{
    display:flex;
    border-style:none;
    background-color: #1d4f9a;
    width:100%;
    justify-content: space-between;
    margin:0;
    flex-wrap:wrap;
}

#login-and-signup-header{
    background-color: #1d4f9a;
    width:100%;
    display: flex;
    justify-content: flex-start;


}
#main-header{
    display:flex;
    border-style:none;
    background-color: #1d4f9a;
    width:100%;
    justify-content: space-between;
    margin:0;
    flex-wrap:wrap;
}