.job-seeker-buttons-section{
    display: flex inline;
    justify-content: space-around;
    align-items: flex-end;
    margin-top:20px;
    gap:5px;

}
.job-seeker-find-jobs-button{
    color:#1d4f9a;
    background-color: white;
    border-style: none;
    height:40px;
    width: 100px;
    border-radius:4px;
    margin-top: 1px;

}
.job-seeker-profile-button{
    text-align:left;
    background-color: #1d4f9a;
    border-style: none;
    color:gray;

}
#imgJobSeeker {
    border-radius: 75%;
    width: 40px;
    height: 40px;
    background-color: white;
    border: white;
    object-fit: cover;

}
