<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Employment web site">
        <meta name="keywords" content="HTML5, CSS3, JavaScript">

        <title>JobTray</title>
        <script src="/JS/redirectFunctions.js"></script>
        <script src="/JS/auxiliaryFunctions.js"></script>
        <script src="/JS/viewComposition.js"></script>

        <link rel="stylesheet" href="/CSS/general-style.css">
        <link rel="stylesheet" href="/CSS/headers.css">
        <link rel="stylesheet" href="/CSS/search-bar-style.css">
        <link rel="stylesheet" href="/CSS/job-seeker-list-style.css">
        <link rel="stylesheet" href="/CSS/footer-style.css">
    </head>
    <body>
        <div id="wrapper">
            <header id="job_seeker_header">
            </header>

            <section id="main-tittle">
            </section>

            <section id="search-bar">
            </section>

            <main id="find-jobs-content">
            </main>

            <footer id="footer">
            </footer>
        </div>
        <script>
            loadViewFindJobsJobSeeker();
        </script>
    </body>
</html>