<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Main page">
    <meta name="keywords" content="HTML5, CSS3, JavaScript">

    <title>Main page</title>
    <script src="/JS/xlu-include-file.js"></script>

    <link rel="stylesheet" href="/CSS/general-style.css">
    <link rel="stylesheet" href="/CSS/headers.css">
    <link rel="stylesheet" href="/CSS/main-page-style.css">
    <link rel="stylesheet" href="/CSS/footer-style.css">
</head>
<body>
    <div id="wrapper">
        <header id="main_header" xlu-include-file="/HTML/templates/main-page-header.html">
        </header>

        <main id="main-content" xlu-include-file="/HTML/templates/main-page.html">
        </main>

        <footer id="footer" xlu-include-file="/HTML/templates/footer.html">
        </footer>
    </div>
    <script>
        xLuIncludeFile();
    </script>
</body>
</html>