<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Employment web site">
        <meta name="keywords" content="HTML5, CSS3, JavaScript">

        <title>JobTray</title>
        <script src="/JS/xlu-include-file.js"></script>

        <link rel="stylesheet" href="/CSS/general-style.css">
        <link rel="stylesheet" href="/CSS/headers.css">
        <link rel="stylesheet" href="/CSS/search-bar-style.css">
        <link rel="stylesheet" href="/CSS/company-list-styles.css">
        <link rel="stylesheet" href="/CSS/footer-style.css">
    </head>
    <body>
        <div id="wrapper">
            <header id="sign_header" xlu-include-file="/HTML/templates/company-header.html">
            </header>

            <section id="main-tittle" xlu-include-file="/HTML/templates/main-tittle.html">
            </section>

            <main id="job-listing-content" xlu-include-file="/HTML/templates/company-job-listing-list.html">
            </main>

            <footer id="footer" xlu-include-file="/HTML/templates/footer.html">
            </footer>
        </div>
        <script>
            xLuIncludeFile();
        </script>
    </body>
</html>