<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Employment web site">
    <meta name="keywords" content="HTML5, CSS3, JavaScript">

    <title>JobTray</title>
    <script src="/JS/redirectFunctions.js"></script>
    <script src="/JS/auxiliaryFunctions.js"></script>
    <script src="/JS/viewComposition.js"></script>

    <link rel="stylesheet" href="/CSS/general-style.css">
    <link rel="stylesheet" href="/CSS/headers.css">
    <link rel="stylesheet" href="/CSS/company-vacancy-post-style.css">
    <link rel="stylesheet" href="/CSS/footer-style.css">


</head>
<body>
    <div id="wrapper">
        <header id="company_header">
        </header>

        <section id="main-tittle">
        </section>

        <main id="vacancy-post-content">
        </main>

        <footer id="footer">
        </footer>
    </div>
    <script>
        loadViewVacancyPostCompany();
    </script>
</body>
</html>