<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>company-header</title>
    <link rel="stylesheet" href="/CSS/company-profile-style.css">
    <link rel="stylesheet" href="/CSS/headers.css">
</head>
<body>
<header id="company-header">
    <section style="display: inline">
        <svg style="display: inline-block">
            <rect x="10" y="20" fill="white" width="80%" height="50%" ></rect>
            <text x="35%" y="40%" fill="black" >
                LOGO
            </text>
        </svg>
    </section>
    <section style="display: inline-block;">
        <section  class="company-buttons-container">
            <button class="company-buttons">Job Listing</button>
            <button class="company-buttons">Post a job</button>
            <img id="img"><button class="company-buttons-profile">
                                  <b style="color:white;">Name</b>
                                  <br>email@example.com</button>
            </img>
        </section>

    </section>

</header>
</body>
</html>