<section class="list-container">
    <table>
        <thead>
            <tr>
                <th class="clickable-th">Vacancy Name<span class="sort-icon"><></span></th>
                <th class="clickable-th">Stage<span class="sort-icon"><></span></th>
                <th class="clickable-th">Date Posted<span class="sort-icon"><></span></th>
                <th class="clickable-th">Due Date<span class="sort-icon"><></span></th>
                <th class="clickable-th">Job Type<span class="sort-icon"><></span></th>
                <th class="clickable-th">Applicants<span class="sort-icon"><></span></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><img src="../../images/asps.png" alt="Placeholder X">Vacancy Name</td>
                <td><span class="status-tag" id="stage">Stage</span></td>
                <td>01/01/2000</td>
                <td>01/01/2000</td>
                <td><span class="status-tag" id="job-type">JType</span></td>
                <td>00</td>
                <td><button class="see-profiles">See Profiles</button><button class="more-options">···</button></td>
            </tr>
        </tbody>
    </table>
</section>