
<header id="company-header">
    <section style="display: inline;">
        <section style="display: inline;">
            <img src="/images/asps.png" style="background-color: white;border-color: white;width: 200px;height:40px;margin-top: 20px;margin-bottom: 10px;margin-left: 20px;">
        </section>
    </section>

    <section style="display: inline">
        <section  class="company-buttons-container">
            <button class="company-buttons">Job Listing</button>
            <button class="company-buttons">Post a job</button>
            <section style="display: flex inline;gap:5px;">
                <img id="imgCompany"><button class="company-buttons-profile">
                <b style="color:white;">Name</b>
                <br>email@example.com</button>
                </img>
            </section>



        </section>

    </section>

</header>
