<section class="list-container">
    <table>
        <thead>
            <tr>
                <th class="clickable-th">Vacancy Name<span class="sort-icon"><></span></th>
                <th class="clickable-th">Stage<span class="sort-icon"><></span></th>
                <th class="clickable-th">Date Posted<span class="sort-icon"><></span></th>
                <th class="clickable-th">Due Date<span class="sort-icon"><></span></th>
                <th class="clickable-th">Job Type<span class="sort-icon"><></span></th>
                <th class="clickable-th">Applicants<span class="sort-icon"><></span></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr class="job-listing-row">
            </tr>
        </tbody>
    </table>
</section>