<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the footer for most pages.">
    <title>Footer</title>
    <link rel="stylesheet" href="/CSS/footer.css">
</head>
<body>
<section id="footer">
    <div id="footer-container">
        <p class="info-text">Sobre nosotros</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>

    </div>
    <div id="footer-container2">
        <p class="info-text">Contacto</p>
        <p>Email: <a href="https://skeleton.com">namesurname@gmail.com</a></p>
        <p>Telf: +34 12345678</p>
    </div>
</section>


</body>
</html>