<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="This is the sign-in main content">
  <title>Sign-in Page</title>
  <link rel="stylesheet" href="../../CSS/sign-style.css">
</head>
<body>
<main class="container">
  <nav class="toggle-nav">
    <a href="#" class="toggle-button active">Job Seeker</a>
    <a href="company-sign-in.html" class="toggle-button">Company</a>
  </nav>

  <section class="sign-box">
    <div class="title-text">
      <h1>Welcome back</h1>
    </div>

    <article>
      <form>
        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter email address" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password" required>

        <button type="submit" class="submit-button">Login</button>
      </form>
    </article>

    <div class="bottom-text">
      <p>Don’t have an account? <a href="job-seeker-sign-up.html">Sign Up</a></p>
    </div>
  </section>
</main>
</body>
</html>
