<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>job-seeker-header</title>
  <link rel="stylesheet" href="/CSS/headers.css">
  <link rel="stylesheet" href="/CSS/job-seeker-profile-style.css">
</head>
<body>
<header id="job-seeker-header">
  <section style="display: inline">
    <svg style="display: inline-block">
      <rect x="10" y="20" fill="white" width="80%" height="50%" ></rect>
      <text x="35%" y="40%" fill="black" >
        LOGO
      </text>

    </svg>
  </section>
  <section style="display: inline-block;">
    <section class="job-seeker-buttons-section">
      <section style="margin-right: 50px">
        <button class="job-seeker-find-jobs-button" >Find a job</button>
      </section>

      <img id="img">  <button class="job-seeker-profile-button">
                      <b style="color:white;">Name</b><br>email@example.com
                      </button>
      </img>
    </section>

  </section>
</header>
<main>
  <section>
    <p>hoña mundo</p>
  </section>
</main>
</body>
</html>