<section class="list-container">
    <aside class="filter-aside">
        <fieldset>
            <legend>Salary Range</legend>
            <label for="salary-1"><input type="checkbox" name="salary-range" id="salary-1" checked> $700 - $1000 (4)</label>
            <label for="salary-2"><input type="checkbox" name="salary-range" id="salary-2" checked> $1000 - $1500 (6)</label>
            <label for="salary-3"><input type="checkbox" name="salary-range" id="salary-3" checked> $1500 - $2000 (10)</label>
            <label for="salary-4"><input type="checkbox" name="salary-range" id="salary-4" checked> $3000 or above (4)</label>
        </fieldset>

        <fieldset>
            <legend>Sector</legend>
            <label for="sector-1"><input type="checkbox" name="sector" id="sector-1" checked> Primary</label>
            <label for="sector-2"><input type="checkbox" name="sector" id="sector-2" checked> Secondary</label>
            <label for="sector-3"><input type="checkbox" name="sector" id="sector-3" checked> Third</label>
        </fieldset>

        <fieldset>
            <legend>Education</legend>
            <label for="education-1"><input type="checkbox" name="education" id="education-1" checked> Elementary School</label>
            <label for="education-2"><input type="checkbox" name="education" id="education-2" checked> Middle School</label>
            <label for="education-3"><input type="checkbox" name="education" id="education-3" checked> High School</label>
            <label for="education-4"><input type="checkbox" name="education" id="education-4" checked> University</label>
            <label for="education-4"><input type="checkbox" name="education" id="education-5" checked> Master</label>
        </fieldset>
    </aside>


    <section class="job-list">
        <h2>All Jobs</h2>

        <div class="see-more-button">
            <button id="see-more">See more...</button>
        </div>
    </section>
</section>