<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login-and-sign-up</title>
    <link rel="stylesheet" href="/CSS/headers.css">
</head>
<body>
<header id="login-and-signup-header">
    <section style="display: inline">
        <svg style="display: inline-block">
            <rect x="10" y="20" fill="white" width="80%" height="50%" ></rect>
            <text x="35%" y="40%" fill="black" >
                LOGO
            </text>
        </svg>
    </section>


</header>
</body>
</html>