<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>main-page</title>
  <link rel="stylesheet" href="/CSS/headers.css">
  <link rel="stylesheet" href="/CSS/main-page.css">
</head>
<body>
<header id="main-header">
  <section style="display: inline">
    <svg style="display: inline-block">
      <rect x="10" y="20" fill="white" width="80%" height="50%" ></rect>
      <text x="35%" y="40%" fill="black" >
        LOGO
      </text>
    </svg>
  </section>
  <section style="display: inline-block;">
    <section class="buttons-main-page-section">
      <button class="buttons-main-page">Login</button>
      <button class="buttons-main-page"> Sign Up</button>
    </section>
  </section>

</header>
</body>
</html>